go 1.18

use (
	./app
	./conf
	./dao
	./manager
	./package
	./package/BackendPlatform/gec
	./package/BackendPlatform/logging
	./package/config
	./package/daenerys
	./package/daenerys/etcd
	./package/daenerys/http
	./package/daenerys/proxy
	./server
	./service
	./util
)
